{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
        <input type="submit" value="Approve" name="approved">
        <input type="submit" value="Reject" name="rejected">
        <input type="submit" value="Close" name="close" id="close_button">
    </div>
{% endblock %}
