<!DOCTYPE html>
<html lang="en">
<body>
<p><strong>Subject</strong>: Darya's Daily: Forgot Password&nbsp;</p><p><strong>Email</strong>:&nbsp;</p><p>Hello!&nbsp;</p><p><span style="color: rgb(34,34,34);">You're receiving this email because you requested a password reset for your Darya's Daily account.</span></p><p>We changed your password and your new password is: <strong>{{ new_password  }}</strong>.</p><p>You can change it in Profile settings.</p><p><br></p><p>Best wishes,</p><p>Darya's Daily team</p>
</body>
</html>